<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>michelle blog</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <section>
      <aside>
        <h1>Hey there, this is Michelle's Blog</h1>
        <ul>
          <li>this is a list</li>
          <li>this is a list</li>
          <li>this is a list</li>
          <li>this is a list</li>
      </aside>
      <article>
        Neat is an open source semantic grid framework
        built on top of Sass and Bourbon…
        <div class='container'>
        </div>


      </article>
    </section>

    <footer>
      <div id="post-form">
        <input type='text' id='title-field' name='title' class='title-feild' placeholder='your title goes here...'/>
        <input type='text' id='post-field' name='post' class='post-feild' placeholder='your blog post goes here...'/>
      <input type='submit' value='Submit' class='submit-feild' />
    </div>
    </footer>

    <script type='text/template' id='blog'>
    <div id='post'>
        <%= title %>
        <%= post %>
    </div>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
